{%- if section.settings.message != blank -%}
  <div class="announcement-bar color-{{ section.settings.color_scheme }}" role="region" aria-label="{{ 'sections.header.announcement' | t }}">
    <div class="page-width">
      <div class="announcement-bar__message h5">
        <span>{{ section.settings.message | escape }}</span>
        {%- if section.settings.link != blank -%}
          <a href="{{ section.settings.link }}" class="announcement-bar__link">
            {{ section.settings.link_text | default: 'Order now' }}
          </a>
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Announcement bar",
  "max_blocks": 1,
  "settings": [
    {
      "type": "text",
      "id": "message",
      "default": "Deesigno - Custom merchandise made easy. Free shipping on orders over $50!",
      "label": "Message"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "link_text",
      "default": "Order now",
      "label": "Link text"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "background-1",
          "label": "Background 1"
        },
        {
          "value": "background-2",
          "label": "Background 2"
        },
        {
          "value": "inverse",
          "label": "Inverse"
        }
      ],
      "default": "inverse",
      "label": "Color scheme"
    }
  ],
  "presets": [
    {
      "name": "Announcement bar"
    }
  ]
}
{% endschema %}
