<footer class="footer color-{{ section.settings.color_scheme }} gradient section-padding">
  <div class="footer__content-top page-width">
    {%- if section.blocks.size > 0 -%}
      <div class="footer__blocks-wrapper grid grid--1-col grid--2-col-tablet grid--{{ section.blocks.size }}-col-desktop">
        {%- for block in section.blocks -%}
          <div class="footer-block grid__item" {{ block.shopify_attributes }}>
            {%- case block.type -%}
              {%- when 'link_list' -%}
                {%- if block.settings.menu != blank -%}
                  <h2 class="footer-block__heading h3">{{ block.settings.heading | default: block.settings.menu.title }}</h2>
                  <ul class="footer-block__details-content list-unstyled">
                    {%- for link in block.settings.menu.links -%}
                      <li>
                        <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link">
                          {{ link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              {%- when 'text' -%}
                <div class="footer-block__brand-info">
                  <h2 class="footer-block__heading h3">{{ block.settings.heading }}</h2>
                  <div class="rte">{{ block.settings.subtext }}</div>
                </div>
            {%- endcase -%}
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}

    <div class="footer__content-bottom">
      <div class="footer__content-bottom-wrapper page-width">
        <div class="footer__copyright caption">
          <small class="copyright__content">&copy; {{ 'now' | date: "%Y" }} {{ shop.name }}. All rights reserved.</small>
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "blocks": [
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Deesigno",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Your trusted partner for custom merchandise and branded products.</p>",
          "label": "Subtext"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "text"
      },
      {
        "type": "link_list"
      },
      {
        "type": "link_list"
      },
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
