<header class="header">
  <div class="header__wrapper">
    <div class="header__heading">
      <h1 class="header__heading-link h2">
        <a href="{{ routes.root_url }}" class="header__heading-link">
          {%- if section.settings.logo != blank -%}
            <img src="{{ section.settings.logo | image_url: width: 200 }}" 
                 alt="{{ shop.name }}" 
                 class="header__heading-logo"
                 width="{{ section.settings.logo_width }}"
                 height="{{ section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio | round }}">
          {%- else -%}
            <span class="h2">{{ shop.name }}</span>
          {%- endif -%}
        </a>
      </h1>
    </div>

    <nav class="header__inline-menu">
      <ul class="list-menu list-menu--inline" role="list">
        {%- for link in section.settings.menu.links -%}
          <li>
            <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset"
               {% if link.current %} aria-current="page"{% endif %}>
              {{ link.title | escape }}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </nav>

    <div class="header__icons">
      <div class="header__icon header__icon--search">
        <button type="button" class="search-modal-opener header__icon header__icon--search link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
          <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false">
            <use href="#icon-search">
          </svg>
        </button>
      </div>

      <a href="{{ routes.account_url }}" class="header__icon header__icon--account link focus-inset">
        <svg class="icon icon-account" aria-hidden="true" focusable="false">
          <use href="#icon-account">
        </svg>
        <span class="visually-hidden">{{ 'sections.header.account' | t }}</span>
      </a>

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        <svg class="icon icon-cart" aria-hidden="true" focusable="false">
          <use href="#icon-cart">
        </svg>
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>

      <a href="/pages/custom-design" class="header__cta-button button button--primary">
        Start Designing
      </a>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "px",
      "label": "Logo width"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}
